body {
    padding: 10px;
    font-family: "Arial", sans-serif;       /*Шрифт для всей страницы*/
    font-size: 14px;                        /*Размер шрифта для всей страницы*/
    line-height: 1.4;                       /*Высота строки*/
}
html { 
	position:relative; 
	min-height:100%;
}
#logo{
	text-align: center;                    /*Лого по центру блока*/
	border: 1px solid #e5e5e5;             /*Рамка вокруг лого*/
	margin-bottom: 5px;                    /*Отступ внутри рамки с лого*/
}

/*Header:Begin*/
#main-menu {
	text-align: center;                    
	font-size: 20px;
    margin: 0;
    padding: 0;
    list-style: none;                       /*Убрать "точки" в списке*/
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
}

#main-menu li {
    display: inline-block;                  /*Пункт меню в строку*/
    margin-right: -4px;
}

#main-menu a {
	display: block;                        /*Пункт меню в виде блока*/
	margin-left: -1px;
	padding: 8px 10px;
    color: #0088cc;
    background-color: #f5f5f5;
    border-left: 1px solid #e5e5e5;         /*Левая граница*/
    border-right: 1px solid #e5e5e5;        /*Правая граница*/
}
#main-menu a:hover {                        /*Меняем внешний вид при наведении курсора на кнопку*/
    background: #eeeeee;                    
    text-decoration: none; 
}
/*Header:End*/

/*Login:Begin*/
#sub-header{
	text-align: right;
    list-style: none;                       /*Убрать "точки" в списке*/
    margin-top: 5px;
    padding-bottom: 5px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
}
#register-form {
	margin-left: 5px;
	float:left;
}
#login-form{
	margin-right: 5px; 
}
#login-label{
	margin-right: 50px;
}
#sub-header p{
	margin-top:2px;
}
#register {
    width: 175px;
    padding: 5px;
    color: white;
    background: #34495e;
    border-radius: 5px;
    cursor: pointer;
}
#auth{
    width: 175px;
    padding: 5px;
    color: white;
    background: #34495e;
    border-radius: 5px;
    cursor: pointer;
}
#logout{
    width: 175px;
    padding: 5px;
    color: white;
    background: #34495e;
    border-radius: 5px;
    cursor: pointer;
}
.icon {                                     /*Иконки для формы входа и регистрации*/
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    vertical-align: bottom;
    background: url("../img/bootstrap-sprites.png") no-repeat;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}
.icon-in {
    background-position: -335px -96px;
}
.icon-reg {
    background-position: -167px 0px;
}
/*Login:End*/

/*SideBar:Begin*/
.item-on{
   display: block !important; 
}
.item-off{
    display: none !important;
}
.menu-toggle{
    width: 180px;
}
.menu-toggle:before {                       /*Внещний вид кнопки бокового меню*/
  content: "≡"; /* символ */
  font: 2em "arial";
}
#side-bar {
	width: 180px;
    float: left;
}
#side-menu {
	font-size: 20px;
    width: 180px;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

#side-menu a {
    display: block;
    margin-bottom: -1px;
    padding: 8px 14px;
    text-decoration: none;
    color: #0088cc;
    border: 1px solid #e5e5e5;
}

#side-menu a:hover {                        /*Меняем внешний вид при наведении курсора на кнопку*/
    background: #f5f5f5;
}

#side-menu > li {
    position: relative;
}
.color-pick{
    display: inline-block;
}
.sub-list-s{
    width: 180px;
}
.btn-side-size{
    -webkit-transition-duration: 0.4s;  /*задержка изменения цвета кнопки при наведении на 0.4s*/
    background-color: grey; /* цвет */
    width: 180px;
    border: 2px solid grey;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-side-size:hover {
    background-color: white;
    color: black;
    border: 2px solid grey; /* цвет */
}
.btn-side-color{
    -webkit-transition-duration: 0.4s;  /*задержка изменения цвета кнопки при наведении на 0.4s*/
    background-color: blue; /* цвет */
    width: 180px;
    border: 2px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-side-color:hover {
    background-color: white;
    color: black;
    border: 2px solid blue; /* цвет */
}
.btn-side-font{
    -webkit-transition-duration: 0.4s;  /*задержка изменения цвета кнопки при наведении на 0.4s*/
    background-color: green; /* цвет */
    width: 180px;
    border: 2px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-side-font:hover {
    background-color: white;
    color: black;
    border: 2px solid green; /* цвет */
}
.btn-side-del{
    -webkit-transition-duration: 0.4s;  /*задержка изменения цвета кнопки при наведении на 0.4s*/
    background-color: red; /* цвет */
    width: 180px;
    border: 2px solid red;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-side-del:hover {
    background-color: white;
    color: black;
    border: 2px solid red; /* цвет */
}
/*SideBar:End*/

/*Content:Begin*/
#content{  
	margin-top: 10px;
    margin-left: 200px;
    padding-bottom: 60px;
}

#content h1{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
}

#content p{
	text-indent: 1.5em;
	text-align: justify;
	margin-top: 10px;
	font-size: 16px;
	font-style: Georgia, serif;
}
/*Content:End*/

/*Footer:Begin*/
#footer {
 	position: absolute;
	text-align: center;
	padding-top: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: #f5f5f5;
    border-top: 1px solid #e5e5e5;      /* верхняя граница футера */
}
/*Footer:End*/